body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Mono", monospace;
  background: #649173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 50px auto;
}

main {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  color: #8075ff;
}
p {
  /* color: #bcb3fd; */
  color: white;
}

#activity-name {
  margin-top: 50px;
  border-bottom: 4px solid #bcb3fd;
  color: white;
}

#btn {
  border: none;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #8075ff;
  color: aliceblue;
  border-radius: 2px;
  font-weight: bold;
  width: 100px;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}

.fun{
  background: #a73737;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
color: white;
}



